/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg-body-custom { background-color: #1472b5; color: #fff}
.custom-btn { background-color: #2a76ad; color: #fff}

table tbody tr {
  height: 57px; /* Set a defaultng height for all table rows. This is overwritten for smaller screen.*/
}
